asttokens
comm
contourpy
cycler
debugpy
decorator
executing
extract_data
fonttools
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
pyzmq
scipy
seaborn
six
sns
stack-data
tornado
traitlets
tzdata
wcwidth
